
<div class="caseContent">
  <%= simple_form_for @case,
    defaults: { input_html: { class: 'form-control halfWidth' } } do |f| %>
    <%= f.input :CaseType %>
    <%= f.input :AppUnit %>
    <%= f.input :CaseName %>
    <%= f.input :TargetLB %>
    <%= f.input :DigSite %>
    <%= f.input :DigArea %>
    <%= f.input :CaseStart, as: :date %>
    <%= f.input :CaseEnd, as: :date %>
    <%= f.input :ConstructionUnit %>
    <%= f.input :Construction_Tel %>
    <%= f.input :Supervise %>
    <%= f.input :Supervise_Tel %>
    <%= f.input :ExamUnit %>
    <%= f.input :lat %>
    <%= f.input :lng %>
  <% end %>
</div>
