<h1>Listing cases</h1>

<table class="table">
  <thead>
    <tr>
      <th>CaseName</th>
      <th>TargetLB</th>
      <th>DigSite</th>
      <th>DigArea</th>
      <th>CaseStart</th>
      <th>CaseEnd</th>
      <th>ConstructionUnit</th>
      <th>Supervise</th>
      <th>ExamUnit</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @cases.each do |eachCase| %>
      <tr>

        <td><%= eachCase.CaseName %></td>
        <td><%= eachCase.TargetLB %></td>
        <td><%= eachCase.DigSite %></td>
        <td><%= eachCase.DigArea %></td>
        <td><%= eachCase.CaseStart %></td>
        <td><%= eachCase.CaseEnd %></td>
        <td><%= eachCase.ConstructionUnit %></td>
        <td><%= eachCase.Supervise %></td>
        <td><%= eachCase.ExamUnit %></td>
        <td><%= link_to 'Detail', eachCase, :class=> 'btn' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

