<div class="caseDetailLeft"></div>
<div class="caseDetail">
  <p id="notice"><%= notice %></p>

  <%= render 'caseDetail' %>

  <div id="mapCanvas" data-lat="<%= @case.lat %>" data-lng="<%= @case.lng %> " data-site="<%= @case.DigSite %>"></div>
  <span class='prePage btn btn-default'>前一頁</span>
</div>
<div class="caseDetailRight"></div>


<script type="text/javascript" >
  $('.prePage').click(function(){
    history.go(-1);
  });

    loadScript();

</script>



